/*html {*/
/*    background-image: url(../img/bg.jpg);*/
/*    background-size: 100%;*/
/*    background-position-y: 40%;*/
/*}*/

h2 {
    margin: 50px 0;
    color: #202129;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    min-width: 20%;
    max-width: 100%;
    height: 80%;
    max-height: 100%;
    min-height: 40%;
    margin: auto;
    padding: 15%;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    transition: 0.2s;
}
.file-drop-area.is-active {
    background-color: rgba(0, 0, 0, 0.2);
}
.fake-btn {
    /*flex-shrink: 0;*/
    color: var(--color-dark);
    font-family: 'Source Sans Pro', sans-serif;
/*    background-color: rgba(33, 33, 33, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.1);*/
    border-radius: 3px;
/*    padding: 8px 15px;
    margin-right: 10px;*/
    font-size: 15px;
    /*text-transform: uppercase;*/
}
.file-msg {
    color: var(--color-dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.file-input:focus {
    outline: none;
}
footer {
    margin-top: 50px;
    position: fixed;
    left: 40%;
    bottom: 0;
    padding: 10px;
}
footer a {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}
footer a:hover {
    color: white;
}

.list-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #D7D7EF;
    font-family: 'Source Sans Pro', sans-serif;
    backdrop-filter: blur(36px);
    width: 100%;
}



/*BUTTON*/
:root {
    --color-dark: #161616;
    --color-ocean: #416dea;
    --color-grass: #3dd28d;
    --color-snow: #fff;
    --color-salmon: #f32c52;
    --color-sun: #feee7d;
    --color-alge: #7999a9;
    --color-flower: #353866;
    --color-smoke: #e4e4e4;
    --borderRadius: 36px;
    /*--font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
}
html {
    z-index: 5;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
/*    display: flex;
    flex-direction: column;*/
    background: linear-gradient(to right, #211225, #050912);
    color: #D7D7EF;
    box-sizing: border-box;
    min-height: 100%;
    background: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    justify-content: center;
    align-items: center;
}
@media (min-width: 992px) {
    body {
        border-width: 30px;
    }
}
body.linked .button, body.linked h1 {
    opacity: 0.3;
    transition: opacity 300ms linear;
}
body.linked p {
    color: var(--color-smoke);
    transition: color 300ms linear;
}
h1 {
    text-align: center;
    transition: opacity 300ms linear;
    color: var(--color-dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
h1 span {
    font-weight: 400;
}
p {
    max-width: 460px;
    margin: 0 auto;
    transition: color 300ms linear;
    text-align: center;
    color: var(--color-dark);
    font-weight: 400;
    line-height: 1.5;
}
a, a:visited {
    text-decoration: none;
    color: #3e3e4d;
    font-weight: 500;
}
a:hover, a:visited:hover {
    text-decoration: underline;
    color: #3e3e4d;
}
/*.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}*/
/*.button-container {
    display: flex;
    margin: 60px auto;
    flex-wrap: wrap;
    justify-content: center;
}*/

.col-1-2 {
  width: 50%;
  float: left;
}
.col-1 {
  width: 100%;
  float: left;
}
.button {
    display: flex;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    color: #fff;
    border: 0 none;
    border-radius: var(--borderRadius);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px var(--color-smoke);
}
.button:hover {
    transition: all 150ms linear;
    opacity: 0.85;
}
.button:active {
    transition: all 150ms linear;
    opacity: 0.75;
}
.button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}
.button.-regular {
    color: #202129;
    background-color: #f2f2f2;
}
.button.-regular:hover {
     color: #202129;
     background-color: #e1e2e2;
     opacity: 1;
 }
.button.-regular:active {
    background-color: #d5d6d6;
    opacity: 1;
}


/**/



.hidden {
    display: none;
    !important
}

/*ul {*/
/*    color: #111111;*/
/*}*/


.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
