<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="b4f4e1905243e7c6" />
    <meta name="google-site-verification" content="aUo_2UYvPpVsbckLUHtO-G8g_h0WHsF27sb9wehdb00" />
    <meta name="description" content="Автоматическая проверка документов на соответствие ГОСТ для студентов и преподавателей"/>
    <title>Проверка документов на ГОСТ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/ico.png') }} " type="image/jpg">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>

<div id="result-bg" class="bg"></div>

<form id="form" method="post" enctype="multipart/form-data">

<div class="main">
  <div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 style="margin-bottom: 2%">Проверка на ГОСТv2</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-sm" style="border-right: 1px solid; margin-right: 2%">
        <h3 style="color: #3e3e4d; text-align: left; margin-bottom: 2%">Информация</h3>
        <h4 style="color: #3e3e4d; margin-bottom: 2%; margin-top: 0;">Требования к загружаемому файлу</h4>
        <ol style="color: #3e3e4d;">
            <li>Файл сделан в Microsoft Word 2010 и выше</li>
            <li>Формат файла только .docx</li>
        </ol>
        <h4 style="color: #3e3e4d; margin-bottom: 3%; margin-top: 0;">Проверяемые критерии</h4>
        <ol style="color: #3e3e4d;">
	    <li style="margin-bottom: 1%;">В документе должно быть автосодержание, без него проверка может осуществляться некорректно из-за различных титульных листов</li>
	    <li style="margin-bottom: 1%;">Шрифт - &quot;Times New Roman&quot;</li>
	    <li style="margin-bottom: 1%;">Междустрочный интервал - 1.5</li>
	    <li style="margin-bottom: 1%;">Названия рисунков выравнены по центру, в формате &quot;Рисунок 1.2 - Название&quot;</li>
	    <li style="margin-bottom: 1%;">Названия таблиц выравнены по ширине, без абзацного отступа и в формате &quot;Таблица 1.1 - Название&quot;</li>
	    <li style="margin-bottom: 1%;">Поля: левое - 3 см, правое - 1 см, верхнее и нижнее - 2 см</li>
        </ol>

        <h4 style="color: #3e3e4d; margin-bottom: 2%; margin-top: 0;">Дополнительно</h4>
        Сервис временно <strong>хранит</strong> отправленные файлы
        <br>
        Файлы будут использоваться для улучшения сервиса
        <h4 style="color: #3e3e4d; margin-bottom: 2%; margin-top: 1%;">Форма обратной связи</h4>
        Пожалуйста, после проверки документа, пройдите небольшой опрос. Он поможет сделать сервис лучше и удобнее.
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSerVGHHzotanL6uEY6EbglAqwdH_jHTg7ciGK7Qw3wQt1AJDw/viewform?usp=sf_link" target="_blank">Ссылка на опрос.</a>



      </div>
      <div class="col-sm">

          <div class="row">
              <div id = "checkboxes" style="color: #3e3e4d; text-align: left; margin-bottom: 2%">
                <h3>Проверяемые параметры:</h3>
                <form method = "POST" action="/">
                <input type="checkbox" id = "contents" value="0" name="parameters_checkbox" style="margin-left: 1%" checked>
                <label for="contents">Автосодержание</label>
                <input type="checkbox" id = "field" value="1" name="parameters_checkbox" style="margin-left: 1%" checked>
                <label for="field">Поля</label>
                <input type="checkbox" id = "font" value="2" name="parameters_checkbox" style="margin-left: 1%" checked>
                <label for="font">Шрифт</label>
                <input type="checkbox" id = "alignment" value="3" name="parameters_checkbox" style="margin-left: 1%" checked>
                <label for="alignment">Выравнивание</label>
                <br>
                <input type="checkbox" id = "auto" value="4" name="parameters_checkbox" style="margin-left: 1%" checked>
                <label for="auto">Междустрочный интервал</label>
                <input type="checkbox" id = "table" value="5" name="parameters_checkbox" style="margin-left: 1%" checked>
                <label for="table">Названия таблиц</label>
                <input type="checkbox" id = "img" value="6" name="parameters_checkbox" style="margin-left: 1%" checked>
                <label for="img">Названия рисунков</label>
                </form>
              </div>
          </div>


          <div class="row">
            <div id="dragndrop" class="file-drop-area">
            <span class="fake-btn button -regular center">Выберите файл</span>
            <span class="file-msg">или перетащите его</span>
            <input type="file" name="userDocument" accept="application/msword, .docx" class="file-input">
            </div>
          </div>
          <div id="results" class="list-bg hidden">
    <h2 id="filename" class="hidden">Если вы это видите, обновите страницу</h2>
    <ul id="results-elements" style="list-style-type: none; color: #202129;">

    </ul>

</div>



<div>
    <div id="button" class='button -regular hidden' style="width: 40%; margin: 1% auto auto;">Отправить</div>
<!--    При нажатии начинать показывать список-->
</div>

    <div>
        <div id="new-file" class='button -regular hidden' style="width: 50%; margin: 5% auto auto;">Проверить другой файл</div>
        <!--    При нажатии начинать показывать список-->
    </div>


{% with messages = get_flashed_messages() %}
  {% if messages %}
      <br>
      <br>
      Результаты проверок:
    <ul class=flashes>
    {% for message in messages %}
      <li><a href="//{{ message }}">Нажмите, чтобы скачать детализацию по отправленному файлу</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    </div>
  </div>
</div>

</div>
</form>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>#}
</body>

</html>