<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="b4f4e1905243e7c6" />
    <meta name="google-site-verification" content="aUo_2UYvPpVsbckLUHtO-G8g_h0WHsF27sb9wehdb00" />
    <meta name="description" content="Автоматическая проверка документов на соответствие ГОСТ для студентов и преподавателей"/>
    <title>Проверка документов на ГОСТ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/ico.png') }} " type="image/jpg">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div id="result-bg" class="bg"></div>


<h1>Sisond - проверка на ГОСТ</h1>
<h4 style="color: #3e3e4d; font-size: 16px; text-align: center">Стандартные стандартизаторы стандартизировали-стандартизировали, да не выстандартизировали.</h4>
<h5 style="color: #3e3e4d; font-size: 14px; text-align: center">Сервис находится в разработке</h5>

<!--TODO: добавить label-->
<form id="form" method="post" enctype="multipart/form-data">

<div id="dragndrop" class="file-drop-area">
    <span class="fake-btn button -regular center">Выберите файл</span>
    <span class="file-msg">или перетащите его сюда</span>
    <input type="file" name="userDocument" accept="application/msword, .docx" class="file-input">
</div>

<div id="results" class="list-bg hidden">
    <h2 id="filename" class="hidden">Если вы это видите, обновите страницу</h2>
    <ul id="results-elements" style="list-style-type: none; color: #202129; margin-bottom: 0.25%">

    </ul>
</div>

<div>
    <div id="button" class='button -regular hidden' style="width: 20%; margin: 1% auto auto;">Отправить</div>
<!--    При нажатии начинать показывать список-->
</div>

    <div>
        <div id="new-file" class='button -regular hidden' style="width: 30%; margin: 5% auto auto;">Проверить другой файл</div>
        <!--    При нажатии начинать показывать список-->
    </div>

</form>
{##}
{#<footer>#}
{#    <p>Made with &hearts; by <a href="https://vk.com/dream2904" target="_blank" >Valeria Timofeeva</a> </p>#}
{#</footer>#}
{% with messages = get_flashed_messages() %}
  {% if messages %}
      <br>
      <br>
      Результаты проверок:
    <ul class=flashes>
    {% for message in messages %}
      <li><a href="//{{ message }}">Нажмите, чтобы скачать детализацию по отправленному файлу</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>