<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="b4f4e1905243e7c6" />
    <meta name="google-site-verification" content="aUo_2UYvPpVsbckLUHtO-G8g_h0WHsF27sb9wehdb00" />
    <meta name="description" content="Автоматическая проверка документов на соответствие ГОСТ для студентов и преподавателей"/>
    <title>Проверка документов на ГОСТ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bg.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/ico.png') }} " type="image/jpg">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div id="result-bg" class="bg"></div>


<h1>Проверка на ГОСТ</h1>
<h4 style="color: #3e3e4d; font-size: 16px; text-align: center">Стандартные стандартизаторы стандартизировали-стандартизировали, да не выстандартизировали.</h4>
<h5 style="color: #3e3e4d; font-size: 16px; text-align: center"><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=JGzyIZMHB0unPVY80uwjXxLQU3duhIJGmKbpq9s3MthUQTRZU1AyNEo1RzJYN0VYU01SREsxSVQ5Sy4u" target="_blank">Сервис находится в разработке. Помогите сделать его лучше и <u>нажмите тут</u> 😊 </a></h5>

<!--TODO: добавить label-->
<form id="form" method="post" enctype="multipart/form-data">



<div id="dragndrop" class="file-drop-area">
    <span class="fake-btn button -regular center">Выберите файл</span>
    <span class="file-msg">или перетащите его сюда</span>
    <input type="file" name="userDocument" accept="application/msword, .docx" class="file-input">
</div>

<div id = "checkboxes" style="color: #3e3e4d; font-size: 16px; text-align: left; margin-left: 3%; margin-bottom: 2%">
    <h3>Проверяемые параметры:</h3>
    <form method = "POST" action="/">
        <input type="checkbox" id = "contents" value="0" name="parameters_checkbox" style="margin-left: 1%" checked>
        <label for="contents">Автосодержание</label>
        <input type="checkbox" id = "field" value="1" name="parameters_checkbox" style="margin-left: 1%" checked>
        <label for="field">Поля</label>
        <input type="checkbox" id = "font" value="2" name="parameters_checkbox" style="margin-left: 1%" checked>
        <label for="font">Шрифт</label>
        <input type="checkbox" id = "alignment" value="3" name="parameters_checkbox" style="margin-left: 1%" checked>
        <label for="alignment">Выравнивание</label>
        <input type="checkbox" id = "auto" value="4" name="parameters_checkbox" style="margin-left: 1%" checked>
        <label for="auto">Междустрочный интервал</label>
        <input type="checkbox" id = "table" value="5" name="parameters_checkbox" style="margin-left: 1%" checked>
        <label for="table">Названия таблиц</label>
        <input type="checkbox" id = "img" value="6" name="parameters_checkbox" style="margin-left: 1%" checked>
        <label for="img">Названия рисунков</label>
    </form>
</div>


<div id="results" class="list-bg hidden">
    <h2 id="filename" class="hidden">Если вы это видите, обновите страницу</h2>
    <ul id="results-elements" style="list-style-type: none; color: #202129; margin-bottom: 0.25%">

    </ul>
</div>

<div>
    <div id="button" class='button -regular hidden' style="width: 20%; margin: 1% auto auto;">Отправить</div>
<!--    При нажатии начинать показывать список-->
</div>

    <div>
        <div id="new-file" class='button -regular hidden' style="width: 30%; margin: 5% auto auto;">Проверить другой файл</div>
        <!--    При нажатии начинать показывать список-->
    </div>

</form>
{##}
{#<footer>#}
{#    <p>Made with &hearts; by <a href="https://vk.com/dream2904" target="_blank" >Valeria Timofeeva</a> </p>#}
{#</footer>#}
{% with messages = get_flashed_messages() %}
  {% if messages %}
      <br>
      <br>
      Результаты проверок:
    <ul class=flashes>
    {% for message in messages %}
      <li><a href="//{{ message }}">Нажмите, чтобы скачать детализацию по отправленному файлу</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>